.padding-vertical-lg {
  padding: 80px 0px;
}

.padding-top-md {
  padding-top: $xxl;
}

.float-right {
  cursor: pointer;
  float: right;
}

.padding-top-xs {

  @media (max-width: 342px) {
    padding-top: $s;
  }
}
