.icons-list {
  @extend .flex;
  @extend .flex-wrap;
  margin-bottom: $xxxl;
  width: fit-content;

  .active {
    background-color: $grad-init;
    border-radius: 5px;
    color: $light-color;
  }

  .icon-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $font-size-body;
    font-weight: 300;
    padding: $m;
    width: 150px;

    .eos-icons,
    img {
      border: 1px solid transparent;
      height: 32px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      width: 32px;

      &:hover {
        border: 1px solid #f4f4f4;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.091);
        cursor: pointer;
      }
    }
  }

  &-category {
    display: flex;
    flex-direction: column;
    margin-top: $xxl;

    h3 {
      color: $primary-light;
      font-weight: 400;
      margin-top: $xxl;
      padding: 0 $xl;
      text-transform: capitalize;
    }

    &-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
